<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WaywardGamers.KParser.Properties.WindowSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WaywardGamers.KParser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <userSettings>
        <WaywardGamers.KParser.Properties.WindowSettings>
            <setting name="mainWindowPosition" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="mainWindowSize" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="mainWindowMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultParseSaveDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
        </WaywardGamers.KParser.Properties.WindowSettings>
        <WaywardGamers.KParser.Properties.Settings>
            <setting name="ParseMode" serializeAs="String">
                <value>Ram</value>
            </setting>
            <setting name="DefaultSaveSubdirectory" serializeAs="String">
                <value>SaveLogs</value>
            </setting>
            <setting name="mainWindowPosition" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="mainWindowSize" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="mainWindowMaximized" serializeAs="String">
                <value>False</value>
            </setting>
        </WaywardGamers.KParser.Properties.Settings>
    </userSettings>
</configuration>