<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WaywardGamers.KParser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WaywardGamers.KParser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="WaywardGamers.KParser.Properties.CoreSettings.KPDatabaseConnectionString"
            connectionString="Data Source=|DataDirectory|\KPDatabase.sdf" />
        <add name="WaywardGamers.KParser.Properties.Settings.KPDatabaseConnectionString"
            connectionString="Data Source=|DataDirectory|\KPDatabase.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="WaywardGamers.KParser.Properties.Settings.DvsParse_SaveConnectionString"
            connectionString="Data Source=|DataDirectory|\DvsParse-Save.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
    <userSettings>
        <WaywardGamers.KParser.Properties.Settings>
            <setting name="ParseMode" serializeAs="String">
                <value>Ram</value>
            </setting>
            <setting name="MemoryOffset" serializeAs="String">
                <value>5756904</value>
            </setting>
            <setting name="FFXILogDirectory" serializeAs="String">
                <value>C:\Program Files\PlayOnline\SquareEnix\FINAL FANTASY XI\TEMP</value>
            </setting>
            <setting name="ParseExistingLogs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultUnnamedDBFileName" serializeAs="String">
                <value>KPDefaultParse.sdf</value>
            </setting>
            <setting name="DaysToRetainErrorLogs" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="ErrorLoggingLevel" serializeAs="String">
                <value>Debug</value>
            </setting>
            <setting name="DebugMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpecifyPID" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultParseSaveDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
        </WaywardGamers.KParser.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <WaywardGamers.KParser.Properties.Settings>
            <setting name="DBResourceName" serializeAs="String">
                <value>KPDatabase.sdf</value>
            </setting>
        </WaywardGamers.KParser.Properties.Settings>
    </applicationSettings>
</configuration>